<div class="row">
    <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Usuario</th>
        <th>Factura</th>
        <th>Fecha de entrega</th>
        <th>Estado</th>
        <th>Cambiar estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of domicilios; let i=index">
        <td>e</td>
        <td>Factura</td>
        <td>Date</td>
        <td>En proceso</td>
        <td><button type="button" name="button" class="btn btn-primary">Cambiar estado</button></td>
      </tr>
    </tbody>
  </table>
</div>
