<div class="row">
    <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Usuario</th>
        <th>Factura</th>
        <th>Fecha de entrega</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let data of domiciles; let i=index">
        <td>{{data.User.name}}</td>
        <td>{{data.codigo}}</td>
        <td>{{data.fechaEntrega | date}}</td>
        <td>{{data.Status.name}}</td>
        <td>
          <button *ngIf="data.Status.id == 1" type="button" name="button" class="btn btn-primary">Entregar</button>
          <button *ngIf="data.Status.id == 2" type="button" name="button" class="btn btn-primary">Completar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
