<div class="list-group">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Factura</th>
        <th scope="col">Fecha de entrega</th>
        <th scope="col">Estado</th>
        <th scope="col">Cambiar estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Nombre Usuario</td>
        <td>Factura</td>
        <td>Date</td>
        <td>En proceso</td>
        <td><button type="button" name="button" class="btn btn-primary">Cambiar estado</button></td>
      </tr>
    </tbody>
  </table>
</div>
